body {
	overflow: hidden;
	background-color: #000000;
}

#table {
	position: absolute;
	
	left: 50%;
	top: 50%;
	
	transform: translateX(-50%) translateY(-50%);

	overflow: hidden;
	
	box-shadow: 0 0 white, 0 0 15px white;

	background-color: #999999;
}

.Card {
	position: absolute;
	display: block;

	left: 50%;
	top: 50%;
	width: 7.143%;
	height: 10%;

	resize: vertical;
	overflow: hidden;
	box-sizing: border-box;

	background-color: #FFFFFF;
}

.Card .Pin {
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;

	transform: none !important;
	box-sizing: border-box !important;

	border-width: 0.5rem !important;
	border-style: solid !important;
	border-radius: 0 !important;
	border-color: #FFFF00 !important;

	animation-name: none !important;

	background-color: #00000000 !important;
}

#selcards {
	position: absolute;
	display: block;
	overflow: visible;
}

#selcards div {
	filter: brightness(70%);
	pointer-events: none;
}

.CardIMG {
	position: absolute;
	
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	user-select: none;
}

.Pile {
	position: absolute;
	
	left: 0;
	top: 0;
	width: 7.143%;
	height: 10%;

	resize: vertical;
	overflow: hidden;

	box-sizing: border-box;

	border-width: 0.15rem;
	border-style: solid;
	border-color: #FFFFFF;

	background-color: #000036;

	animation-name: none;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes PileSearch {
	  0% { border-color: #FFFFFF; }
	 50% { border-color: #FF0000; }
	100% { border-color: #FFFFFF; }
}

@keyframes PileAction {
	from { border-color: #0000EE; }
	to { border-color: #FFFFFF; }
}

@keyframes PileAction2 {
	from { border-color: #BB00BB; }
	to { border-color: #FFFFFF; }
}

@keyframes PileShuffle {
	0% { border-color: #FFFFFF; }
	50% {
		border-color: #888800;
		box-shadow: 0 0 #FFFF00, 0 0 20px #FFFF00;
	}
	100% { border-color: #FFFFFF; }
}

.Counter {
	position: absolute;
	
	width: 10rem;
	height: 10rem;

	padding: 0;
	margin: 0;
	border-style: none;

	color: #FFFFFF;
	background-color: #000000;
}

.Counter:focus-visible {
	padding: 0;
	margin: 0;
	border-style: none;
}

.DisplayCard {
	position: relative;
	display: inline-block;
	
	height: 100%;

	user-select: none;
}

#hand {
	position: absolute;

	left: 50%;
	bottom: 0;
	width: 75%;

	transform: translateX(-50%);

	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;

	background-color: #283148;
}

#handcontainer {
	position: relative;
	display: none;
	
	left: 50%;
	width: min-content;
	max-width: calc( 100% - 2rem );
	height: 10rem;
	white-space: nowrap;
	
	margin: 0.5rem;
	
	overflow-x: scroll;
	overflow-y: hidden;

	transform: translateX(-50%);
}

.HideButton {
	position: absolute;
	
	left: 50%;
	bottom: 100%;

	padding: 0.5rem;
	transform: translateX(-50%);
	
	cursor: pointer;

	user-select: none;
	
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	font-weight: bolder;

	color: #FFFFFF;
	background-color: #283148;
}

.HideButton:hover {
	background-color: #4A536A;
}

#showCard {
	position: absolute;
	display: none;
	
	top: 0px;
	height: 50%;
}

.BrowserWindow {
	position: absolute;
	display: none;

	left: 50%;
	width: 75%;
	
	padding: 0.5rem;
	border-radius: 0.5rem;

	transform: translateX(-50%);

	background-color: #283148;
}

.BrowserContent {
	position: relative;
	
	left: 50%;
	width: min-content;
	max-width: calc( 100% - 1rem );
	height: 10rem;
	white-space: nowrap;
	
	overflow-x: scroll;
	overflow-y: hidden;

	transform: translateX(-50%);
}

.BrowserInfo {
	position: absolute;

	left: 0;
	bottom: 0;
	width: min-content;
	height: calc( 100% + 1rem );

	white-space: nowrap;

	padding: 0.5rem;

	border-radius: 0.5rem;
	font-weight: bold;

	color: #FFFFFF;
	background-color: #283148;
}

#Utility {
	position: absolute;
	
	display: none;

	max-height: 50%;

	overflow-y: scroll;

	user-select: none;

	left: 0;
	bottom: 0;
	width: min-content;
	height: min-content;
}

#Utility div {
	font-size: 1rem;

	margin: 0;
	padding: 0.5rem;
	border-radius: 0.25rem;
	white-space: nowrap;

	cursor: pointer;

	color: #FFFFFF;
	background-color: #444444;
}

#Utility div:hover {
	background-color: #666666;
}

#startWindow {
	position: absolute;

	left: 50%;
	top: 50%;
	width: min-content;
	height: min-content;

	padding: 1.5rem;
	border-radius: 1rem;

	transform: translateX(-50%) translateY(-50%);

	box-shadow: 0 0 black, 0 0 20px black;

	color: #000000;
	background-color: #FFFFFF;
}

#startWindow div {
	position: relative;

	height: min-content;
}

#yourID {
	white-space: nowrap;
}

.StartButton {
	position: relative;
	display: inline;

	text-align: center;

	padding: 0.5rem;
	cursor: pointer;

	border-radius: 0.5rem;

	background-color: #EEEEEE;
}

.StartButton:hover {
	background-color: #DDDDDD;
}

#contID {
	display: none;
}

.IDShower {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.25rem;

	background-color: #FFFFFF;
}

#randomWindow {
	position: absolute;

	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);

	width: min-content;
	max-width: 25%;
	height: min-content;

	text-align: center;

	padding: 1rem;
	border-radius: 0.5rem;

	line-height: 2.5rem;
	display: none;

	color: #FFFFFF;
	background-color: #222222;
}

.Pin {
	position: absolute;

	width: 1rem;
	height: 1rem;

	border-radius: 100%;

	pointer-events: none;

	transform: translateX(-50%) translateY(-50%);

	animation-name: PinDrop;
	animation-duration: 100ms;
	animation-iteration-count: 1;

	background-color: #FF0000;
}

@keyframes PinDrop {
	from {
		width: 20rem;
		height: 20rem;
	}
	to {
		width: 1rem;
		height: 1rem;
	}
}

#enemyInfo {
	position: absolute;

	top: 0;
	left: 50%;

	width: min-content;

	transform: translateX(-50%);

	padding: 0.25rem 0.75rem 0.75rem 0.75rem;
	border-radius: 0 0rem 0.5rem 0.5rem;

	display: none;

	animation-name: none;
	animation-duration: 250ms;
	animation-iteration-count: 1;

	color: #FFFFFF;
	background-color: #333333;
}

@keyframes CardNumChange {
	from { background-color: #BBBBBB; }
	to { background-color: #333333; }
}

#enemyInfo a {
	white-space: nowrap;
}

#Ecardnum {
	font-weight: bolder;
}

#manualWindow {
	position: absolute;

	left: 50%;
	top: 50%;

	width: min-content;
	max-height: 60%;

	display: none;

	padding: 1rem;
	border-radius: 0.5rem;

	transform: translateX(-50%) translateY(-50%);

	color: #FFFFFF;
	background-color: #000000;
}

#manualWindow p {
	white-space: nowrap;
	padding: 0;
	margin: 0;
}

#manualWindow b {
	font-weight: 800;
}

#selectArea {
	position: absolute;

	display: none;

	border-style: solid;
	border-width: 1px;
	border-color: #000000;

	background-color: #00000022;
}

.Zone {
	position: absolute;

	width: 10rem;
	height: 10rem;
	min-width: 1px;
	min-height: 1px;

	overflow: auto;
	resize: both;

	z-index: -1;
}

.centerXY {
	position: absolute;

	left: 50%;
	top: 50%;

	transform: translateX(-50%) translateY(-50%);

	text-align: center;
}

.PriorityButton {
	position: absolute;

	height: 20%;

	border-radius: 0.5rem;

	overflow: auto;
	resize: vertical;
}

.PriorityPurpose {
	position: absolute;

	top: 50%;
	width: 100%;

	box-sizing: border-box;
	transform: translateY(-50%);

	text-align: center;
	font-weight: bolder;

	background-color: #C0C0C0;
}

.PriorityButton div {
	position: absolute;

	width: 100%;
	height: 50%;

	cursor: pointer;
	font-weight: bolder;
	font-size: 0.5rem;

	color: #000000;
	background-color: #CCCCCC;
}

#tooltip {
	position: absolute;

	height: min-content;
	white-space: nowrap;

	padding: 0.5rem;
	border-radius: 0.125rem;
	font-size: 0.75rem;

	transform: translateX(-50%);

	pointer-events: none;
	visibility: hidden;

	color: #FFFFFF;
	background-color: #000000;
	z-index: 1;
}

#actiontip {
	position: absolute;
	display: none;

	height: min-content;
	white-space: nowrap;

	padding: 0.5rem;
	border-radius: 0.125rem;

	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;

	animation-name: ActiontipAnimation;
	animation-duration: 2500ms;

	color: #FFFFFF;
	background-color: #222222DD;
	z-index: 1;
}

@keyframes ActiontipAnimation {
	0% { background-color: #FFFFFF; }
	5% { background-color: #222222DD;  }
	80% { opacity: 100%; }
	100% { opacity: 0%; }
}

#enemyHover {
	position: absolute;
	display: none;

	width: 100%;
	height: 100%;

	box-sizing: border-box;

	border-width: 2px;
	border-style: solid;
	border-color: #3333FF;

	pointer-events: none;

	background-color: #00000000;
}
